main {
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 25px;
    padding: 10px;
}

.imagen {
    height: 90%;
    width: 90%;
    padding: 10px;
}

figure {
    display: flex;
    justify-content: center;
}

.ubicacion {
    text-decoration: none;
}

.horario {
    text-align: center;
    padding-bottom: 20px;
}